.container-full {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  .navbar & {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

//make a button a regular link

.btn-link {
    background:none!important;
    border:none; 
    padding:0!important;
    color: #3097D1;
    text-decoration: none;
    background-color: transparent;
}